#cta {
    width: 100%;
    background-color: #1DB5BE;

    .row {
        display: flex;

        @include md {
            flex-direction: column;
            align-items: stretch;
        }
        
        @include sm {
            flex-direction: column;
            align-items: stretch;
            }
        .left {
            padding: 111px 0;
            max-width: 592px;

            @include md {
                max-width: 688px;
            }

            @include sm {
                padding: 48px 0 0 0;
            }

            .title {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 60px;
                letter-spacing: -0.025em;
                color: #111827;
                margin-bottom: 8px;

                @include md {
                    
                    font-size: 36px;
                    line-height: 45px;
                }
                

                @include sm {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .sub-title {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #111827;
                margin-bottom: 48px;

                @include sm {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .title-2 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #111827;
                margin-bottom: 8px;

            }

            .cta-icon {
                display: inline-flex;
                column-gap: 13px;
            }
        }
        .right {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            

            @include sm {
                flex-direction: column;
                align-items: flex-end;
                margin-top: 50px;
            }
            

            .mobile-mockup-img-1 {
                align-self: flex-start;

                @include sm {
                    align-self: auto;
                }
            }
            
        }

    }

}

